.main_wrapper {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.header {
    width: 100%;
    text-align: center;
    padding: 15px;
    background-color: grey;
    border: 1px solid black;
}

.button {
    padding: 15px;
    width: 35%;
    background-color: lightblue;
    border: 3px solid black;
    border-radius: 15px;
    box-shadow: 3px 3px 15px lightgrey;
    font-size: x-large;
    font-style: italic;
    font-weight: bold;
    transition: transform 0.3s ease;
}

.button:hover {
    cursor: pointer;
    transform: translate(5px, -5px);
}

.main {
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
